services:
  mongodb:
    image: mongo:7.0-alpine
    container_name: taskmanager-mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secretpassword123
      MONGO_INITDB_DATABASE: taskmanager
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build: 
      context: /backend
      dockerfile: .Dockerfile
    container_name: battleship-backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "http://localhost:3000/", "-f"]
      interval: 30s
      timeout: 10s
      retries: 3
      
  
networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
